.ge-goals {
  margin-top: -40px;
  background: url(/bg-mobile-1.png) no-repeat 25% 100%;
  padding-bottom: 100px;
  @media screen and (min-width: 768px) {
    margin-top: -250px;
    padding: 30px 0 50px;
    background: none;
  }
  @media screen and (min-width: 1025px) {
    padding: 30px 0 70px;
  }
  &__main-row {
    @media screen and (min-width: 768px) {
      margin: 0 -16px;
    }
  }
  &__card-wrapper {
    @media screen and (min-width: 768px) {
      padding: 0 16px;
    }
  }
  &__card {
    border-color: transparent;
    background: transparent;
    text-align: center;
    margin: 0 -10px;
    &._first {
      border-bottom: 1px solid #e2e2e2;
    }
    @media screen and (min-width: 768px) {
      background: #ffffff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.09);
      border-radius: 15px;
      border-color: transparent;
      text-align: left;
      margin: 0;
    }
  }
  & &__title {
    font-size: 22px;
    margin-bottom: 30px;
    line-height: 30px;
  }
  & &__text {
    font-size: 14px;
    font-family: 'Roboto';
    line-height: 21px;
    margin-bottom: 30px;
  }
  & &__btn {
    font-size: 13px;
    font-weight: 700;
    height: 45px;
    display: none;
    &._secondary {
      background: #cbe8fb;
      border-color: #cbe8fb;
      color: #061E34;
    }
    @media screen and (min-width: 768px) {
      display: block;
    }
    @media screen and (min-width: 1025px) {
      font-size: 16px;
    }
  }
  & &__btn-mobile {
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    span {
      text-decoration: underline;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  & .ant-card-body {
    height: 100%;
  }
  &__flex-col {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    @media screen and (min-width: 1025px) {
      padding-left: 24px;
    }
  }
  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
  }
}
