.pt-30 {
    padding-top: 30px;
}

.flex-add {
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    width: 700px;
    flex: 1;
}
.out-border {
    border: solid 1px black;
    border-radius: 5px;
}
.header-table {
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    border-bottom: solid 1px black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
.ander-line {
    border-bottom: solid 1px black;
}
.left-tree {
    border-right: solid 1px black;
    padding: 10px;
    overflow: auto;
}
.right-tree {
    padding: 10px;
    overflow: auto;
}
.ant-tree {
    background: none;
}
.btn-add-page {
    display: flex;
    padding: 30px 0 30px 100px;
}
.addYourTeam-right-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.flex-define {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 100px;
    width: 700px;
    max-width: 100%;
}
.btn-row {
    display: flex;
    padding: 180px 0 30px 100px;
}
.define-right-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 300px;
}

.flex-select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    flex: 1
}
.flex-select-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    // width: 500px;
    max-width: 100%;
    margin: 0 200px 30px 200px;
    flex: 1
}
.flex-select-card {
    height: 300px;
}
.flex-select-space {
    min-height: 150px;
}
.flex-select-btn {
    display: flex;
    justify-content: center;
}
.ant-breadcrumb-separator {
    margin: 0 8px;
    color: rgba(0, 0, 0, 0.45);
}